PROJECT_NAME: name_of_the_project_you_are_deploying
PUBLIC_PORT: port_to_use_on_public_ip
OWNER: your_local_user

# relative path in your project repository in which your app is put
# simply put '' if your app is at the root of your repository
APP_ROOT: directory_in_which_the_app_folder_is

#used by postgres itself 
POSTGRES_PASSWORD: 'password'

#for symfony-postgres
DB_USER_NAME: "{{PROJECT_NAME}}_symfony_db_user"
DB_USER_PASSWORD: "{{PROJECT_NAME}}_symfony_db_password"
DB_NAME: "{{PROJECT_NAME}}_symfony_db"

# for composer
GITHUB_TOKEN: your_github_token

#for symfony

APP_MAILER_HOST: smtp.example.com
APP_MAILER_USER: noreply@example.com
APP_MAILER_PASSWORD: example

APP_DIR: /path/to/your/symfony2/application

APP_GIT_REPOSITORY: path_to_git_repository
BRANCH: branch_to_checkout


# you should not need to modify the lines below (except if you need
# to give additional environment parameters to your project) 

POSTGRES_ENV:
    POSTGRES_PASSWORD: '{{ POSTGRES_PASSWORD }}'
    APP_DB_USER_NAME: "{{ DB_USER_NAME }}"
    APP_DB_USER_PASSWORD: "{{ DB_USER_PASSWORD }}"
    APP_DB_NAME: "{{ DB_NAME }}"

PHP_BLUE_ENV:
    SERVER_COLOR: blue
    # for composer
    GITHUB_TOKEN: "{{ GITHUB_TOKEN }}"

    APP_DB_USER_NAME: "{{ DB_USER_NAME }}"
    APP_DB_USER_PASSWORD: "{{ DB_USER_PASSWORD }}"
    APP_DB_NAME: "{{ DB_NAME }}"

    APP_MAILER_HOST: "{{ APP_MAILER_HOST }}"
    APP_MAILER_USER: "{{ APP_MAILER_USER }}"
    APP_MAILER_PASSWORD: "{{ APP_MAILER_PASSWORD }}"

PHP_GREEN_ENV:
    SERVER_COLOR: green
    # for composer
    GITHUB_TOKEN: "{{ GITHUB_TOKEN }}"

    APP_DB_USER_NAME: "{{ DB_USER_NAME }}"
    APP_DB_USER_PASSWORD: "{{ DB_USER_PASSWORD }}"
    APP_DB_NAME: "{{ DB_NAME }}"

    APP_MAILER_HOST: "{{ APP_MAILER_HOST }}"
    APP_MAILER_USER: "{{ APP_MAILER_USER }}"
    APP_MAILER_PASSWORD: "{{ APP_MAILER_PASSWORD }}"
