PROJECT_NAME: name_of_the_project_you_are_deploying
#used by postgres itself 
DB_PASSWORD: 'password'

# for composer
GITHUB_TOKEN: your_github_token

#for symfony
APP_DB_USER_NAME: symfony_db_user
APP_DB_USER_PASSWORD: symfony_db_password
APP_DB_NAME: symfony_db

APP_MAILER_HOST: smtp.example.com
APP_MAILER_USER: noreply@example.com
APP_MAILER_PASSWORD: example

APP_DIR: /path/to/your/symfony2/application

APP_GIT_REPOSITORY: path_to_git_repository
BRANCH: branch_to_checkout

OWNER: your_local_user
